//? BANNER PRINCIPAL
.resultados
    display: flex
    height: fit-content
    p
        display: inline-block
        margin: auto 1rem
    .titulo-resultados
      width: 14rem
    .parrafo-resultados 
//?ESTILOS GENERALES
.img-col
  width: 50%
  margin: auto
  &--2
    width: 15%
    margin: auto  
.titulo-rosa
  color: #F579A8
//?ESTILOS TEMA 2
.lista-ul--color
  display: inline-block
  .lista-separada
    display: flex
    i
      display: inline-block
    
    p
      margin-left: 1rem
      display: inline-block



.cajon--rojo
  background-color: #FFE5EF
.cuadro-texto_azul2
  margin: auto
  border-radius: 0.5rem
  padding: 1rem
  max-width: 536px
  min-height: 50px
  background-color: #00348D
  p
    color: white
.tarjetas-avatar
  flex-grow: 1
  width: 80%
  margin: auto
  display: flex
  justify-content: center
  flex-wrap: wrap
  .tarjeta-Avatar
    img
      width: 60%
    display: inline-block
    flex-wrap: wrap
    margin: 1rem
    .tarjeta.tarjeta--roja
      width: 258px
      height: 250px  
      padding: 0 auto
      p
        padding: 1rem
.tarjetas
  &--rosa
    background-color: #FFE5EF
    margin: auto
  &--azul
    background-color: #CCDCF7
    margin: auto
tr
  text-align: center

    